.bgNavbar {
  background-color: #2f4f4f;
  color: white;
}

.bgNavbar .navbar-brand,
.bgNavbar .nav-link {
  color: white;
}

.bgNavbar .nav-link:hover {
  color: #ffd700;
}

.bgNavbar .navbar-toggler {
  border-color: white;
}

.bgNavbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23FFFFFF' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
